src/schemas/hu/gov/nav/vdr/earBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
# Project: NAV Elektronikus ÁFA rendszer earBase XML séma
# Author: NAV Informatikai Intézet

# Version: v1.1 2024/07/04
-->
<xs:schema xmlns="http://schemas.nav.gov.hu/EAR/1.0/base" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common" targetNamespace="http://schemas.nav.gov.hu/EAR/1.0/base" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common"/>
	<xs:simpleType name="BarCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bárkód típus</xs:documentation>
			<xs:documentation xml:lang="en">Barcode type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldAdditionalAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer egyéb címadat típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system additional address type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="24"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldCityType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer város típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system city type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldForeignAccountType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer külföldi pénzforgalmi számla típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system foreign account type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldPostalCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer irányítószám típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system postal code type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldText40Type">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer 40 hosszú karakterlánc típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system string type for 40 length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldText80Type">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer 80 hosszú karakterlánc típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system string type for 80 length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BevfeldThreeDigitNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás feldolgozó rendszer háromjegyű szám típusa</xs:documentation>
			<xs:documentation xml:lang="en">Declaration processing system 3 digit number type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeclarationBaseDateType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Alap bevallási dátum típus</xs:documentation>
			<xs:documentation xml:lang="en">Base declaration date type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1970-01-01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeclarationFrequencyType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás gyakoriság típus</xs:documentation>
			<xs:documentation xml:lang="en">Declaration frequency type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ANNUAL">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Éves</xs:documentation>
					<xs:documentation xml:lang="en">Annual</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUARTERLY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Negyedéves</xs:documentation>
					<xs:documentation xml:lang="en">Quarterly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MONTHLY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Havi</xs:documentation>
					<xs:documentation xml:lang="en">Monthly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
<xs:simpleType name="DeclarationMethodType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás jellegének típusa</xs:documentation>
			<xs:documentation xml:lang="en">Type of declartion method</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BASE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Alap bevallást</xs:documentation>
					<xs:documentation xml:lang="en">Basic declaration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SELF_CHECK">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Önellenőrzés</xs:documentation>
					<xs:documentation xml:lang="en">Selfcheck</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORRECTION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Helyesbítés</xs:documentation>
					<xs:documentation xml:lang="en">Correction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeclarationKindType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás fajtája típus</xs:documentation>
			<xs:documentation xml:lang="en">Declaration kind type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nem értelmezett</xs:documentation>
					<xs:documentation xml:lang="en">Undefined</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PREVIOUS_PERIOD">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Megelőző időszakra vonatkozó bevallás</xs:documentation>
					<xs:documentation xml:lang="en">Declaration for the previous period</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNDER_PROCESS">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Eljárás alatti időszakra vonatkozó bevallás</xs:documentation>
					<xs:documentation xml:lang="en">Declaration for the period under procedure</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLOSURE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Eljárást lezáró bevallás</xs:documentation>
					<xs:documentation xml:lang="en">Declaration for closing a procedure</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeclarationTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Bevallás típusa típus</xs:documentation>
			<xs:documentation xml:lang="en">Declaration type type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nem értelmezett</xs:documentation>
					<xs:documentation xml:lang="en">Undefined</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ELIMINATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Felszámolás</xs:documentation>
					<xs:documentation xml:lang="en">Elimination</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIQUIDATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Végelszámolás</xs:documentation>
					<xs:documentation xml:lang="en">Liquidation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SELF_EMPLOYMENT_END">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egyéni vállalkozói minőség megszűnése</xs:documentation>
					<xs:documentation xml:lang="en">Termination of self-employment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRANSFORMATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Átalakulás</xs:documentation>
					<xs:documentation xml:lang="en">Transformation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TERMINATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Megszűnés</xs:documentation>
					<xs:documentation xml:lang="en">Termination</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAUSING">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Szünetelés</xs:documentation>
					<xs:documentation xml:lang="en">Pausing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATE_POWER_END">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közhatalom megszűnés</xs:documentation>
					<xs:documentation xml:lang="en">End of state power</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_GROUP_END">
				<xs:annotation>
					<xs:documentation xml:lang="hu">ÁFA csoportos alanyiság megszűnése</xs:documentation>
					<xs:documentation xml:lang="en">Termination of VAT group</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GROUP_TAXPAYER_END">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Csoportos adóalany megszűnés</xs:documentation>
					<xs:documentation xml:lang="en">Termination of group taxpayer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BECAME_VAT_FREE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Általánosan kötelezettből ÁFA mentesre váltás</xs:documentation>
					<xs:documentation xml:lang="en">Change from generally obligated to VAT free</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BECAME_VAT_OBLIGED">
				<xs:annotation>
					<xs:documentation xml:lang="hu">ÁFA mentesből általánosan kötelezettre váltás</xs:documentation>
					<xs:documentation xml:lang="en">Change from VAT free to generally obligated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUSION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Beolvadás</xs:documentation>
					<xs:documentation xml:lang="en">Fusion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FORCED_CANCELLATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Kényszertörlés</xs:documentation>
					<xs:documentation xml:lang="en">Forced cancellation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BECAME_TAXPAYER">
				<xs:annotation>
					<xs:documentation xml:lang="hu">ÁFA körös adózóvá válás</xs:documentation>
					<xs:documentation xml:lang="en">Becoming a VAT taxpayer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OUT_OF_VAT_CLASS">
				<xs:annotation>
					<xs:documentation xml:lang="hu">ÁFA körön kívüli adózóra válás</xs:documentation>
					<xs:documentation xml:lang="en">Becoming a taxpayer outside the scope of VAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldNameType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Nyomtatvány oldalain szereplő BEVFELD mező azonosítója típus</xs:documentation>
			<xs:documentation xml:lang="en">Type of BEVFELD field identifier on the page of the statement</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
			<xs:minLength value="4"/>
			<xs:pattern value="[A-Z0-9]{4,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormFrequencyType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Nyilatkozat gyakoriság típus</xs:documentation>
			<xs:documentation xml:lang="en">Statement frequency type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="common:AtomicStringType200">
			<xs:enumeration value="MONTHLY_TO_QUARTERLY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Haviról negyedévesre</xs:documentation>
					<xs:documentation xml:lang="en">Monthly to quarterly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUARTERLY_TO_MONTHLY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Negyedévesről havira</xs:documentation>
					<xs:documentation xml:lang="en">Quarterly to monthly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUARTERLY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Negyedéves</xs:documentation>
					<xs:documentation xml:lang="en">Quarterly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MONTHLY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Havi</xs:documentation>
					<xs:documentation xml:lang="en">Monthly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormMethodType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Nyilatkozat jellegének típusa</xs:documentation>
			<xs:documentation xml:lang="en">Type of statement method</xs:documentation>
		</xs:annotation>
		<xs:restriction base="common:AtomicStringType32">
			<xs:enumeration value="BASE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Alap nyilatkozat</xs:documentation>
					<xs:documentation xml:lang="en">Base statement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORRECTION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Helyesbítés</xs:documentation>
					<xs:documentation xml:lang="en">Correction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormNameType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Nyilatkozat megnevezése típus</xs:documentation>
			<xs:documentation xml:lang="en">Statement name type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="common:AtomicStringType32">
			<xs:enumeration value="A60">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A60</xs:documentation>
					<xs:documentation xml:lang="en">A60</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxpayerTitleType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Adózó titulusa típus</xs:documentation>
			<xs:documentation xml:lang="en">Taxpayer title type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="common:AtomicStringType32">
			<xs:enumeration value="Dr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Doktor</xs:documentation>
					<xs:documentation xml:lang="en">Doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dr.Dr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Doktor Doktor</xs:documentation>
					<xs:documentation xml:lang="en">Doctor Doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dr.Habil.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Habilitált doktor</xs:documentation>
					<xs:documentation xml:lang="en">Habilitated doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dr.Pr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Doktor Professzor</xs:documentation>
					<xs:documentation xml:lang="en">Doctor professor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Id.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Idősb</xs:documentation>
					<xs:documentation xml:lang="en">Senior</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Id.Dr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Idősb Doktor</xs:documentation>
					<xs:documentation xml:lang="en">Senior Doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ifj.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Ifjabb</xs:documentation>
					<xs:documentation xml:lang="en">Junior</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ifj.Dr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Ifjabb Doktor</xs:documentation>
					<xs:documentation xml:lang="en">Junior Doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Özv.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Özvegy</xs:documentation>
					<xs:documentation xml:lang="en">Widow</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Özv.Dr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Özvegy Doktor</xs:documentation>
					<xs:documentation xml:lang="en">Widow Doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Prof.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Professzor</xs:documentation>
					<xs:documentation xml:lang="en">Professor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Pr.Dr.">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Professzor Doktor</xs:documentation>
					<xs:documentation xml:lang="en">Professor Doctor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxpointDateType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Adózási dátum típus (amely napon az adófizetési kötelezettség és/vagy a levonási jog keletkezett)</xs:documentation>
			<xs:documentation xml:lang="en">Taxpoint date type (the date on which the tax payment obligation and/or right of deduction arose)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="2021-01-01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VatIdentificationNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Közösségi adószám típus</xs:documentation>
			<xs:documentation xml:lang="en">Vat identification number type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Cím típus, amely vagy egyszerű, vagy részletes címet tartalmaz</xs:documentation>
			<xs:documentation xml:lang="en">Format of address that includes either a simple or a detailed address</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="simpleAddress" type="SimpleAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egyszerű cím</xs:documentation>
					<xs:documentation xml:lang="en">Simple address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detailedAddress" type="DetailedAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Részletes cím</xs:documentation>
					<xs:documentation xml:lang="en">Detailed address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeclarationInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A bevallás fejadatai</xs:documentation>
			<xs:documentation xml:lang="en">Header data of the declaration</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="modificationReference" type="ModificationReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Módosítás adatai</xs:documentation>
					<xs:documentation xml:lang="en">Modification reference data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxNumber" type="common:TaxpayerIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adószám</xs:documentation>
					<xs:documentation xml:lang="en">Tax number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationType" type="DeclarationTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallás típusa</xs:documentation>
					<xs:documentation xml:lang="en">Declaration type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationKind" type="DeclarationKindType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallás fajtája</xs:documentation>
					<xs:documentation xml:lang="en">Declaration kind</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationFrequency" type="DeclarationFrequencyType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallási gyakoriság</xs:documentation>
					<xs:documentation xml:lang="en">Declaration frequency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationPeriodStart" type="TaxpointDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallási időszak kezdete</xs:documentation>
					<xs:documentation xml:lang="en">Declaration period start</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationPeriodEnd" type="TaxpointDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallási időszak vége</xs:documentation>
					<xs:documentation xml:lang="en">Declaration period end</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="common:GenericUnsignedIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A benyújtott bevallás verziószáma</xs:documentation>
					<xs:documentation xml:lang="en">Version of the submitted declaration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationMethod" type="DeclarationMethodType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallás jellege</xs:documentation>
					<xs:documentation xml:lang="en">Method of declaration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="navCorrection" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">NAV kiértesítés szerinti javítás.</xs:documentation>
					<xs:documentation xml:lang="en">Correction according to NAV notification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailedAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Részletes címadatok</xs:documentation>
			<xs:documentation xml:lang="en">Detailed address data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="countryCode" type="common:CountryCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az országkód ISO 3166 alpha-2 szabvány szerint</xs:documentation>
					<xs:documentation xml:lang="en">ISO 3166 alpha-2 country code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="region" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Tartomány kódja (amennyiben értelmezhető az adott országban) az ISO 3166-2 alpha 2 szabvány szerint</xs:documentation>
					<xs:documentation xml:lang="en">ISO 3166 alpha-2 province code (if appropriate in a given country)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="common:PostalCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Irányítószám (amennyiben nem értelmezhető, 0000 értékkel kell kitölteni)</xs:documentation>
					<xs:documentation xml:lang="en">ZIP code (If can not be interpreted, need to be filled "0000")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="common:SimpleText255NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Település</xs:documentation>
					<xs:documentation xml:lang="en">Settlement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="streetName" type="common:SimpleText255NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közterület neve</xs:documentation>
					<xs:documentation xml:lang="en">Name of public place</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicPlaceCategory" type="common:SimpleText50NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közterület jellege</xs:documentation>
					<xs:documentation xml:lang="en">Category of public place</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Házszám</xs:documentation>
					<xs:documentation xml:lang="en">House number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="building" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Épület</xs:documentation>
					<xs:documentation xml:lang="en">Building</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="staircase" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Lépcsőház</xs:documentation>
					<xs:documentation xml:lang="en">Staircase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="floor" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Emelet</xs:documentation>
					<xs:documentation xml:lang="en">Floor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="door" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Ajtó</xs:documentation>
					<xs:documentation xml:lang="en">Door number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lotNumber" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Helyrajzi szám</xs:documentation>
					<xs:documentation xml:lang="en">Lot number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A nyomtatvány fejadatai</xs:documentation>
			<xs:documentation xml:lang="en">Header data of the statement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="modificationReference" type="ModificationReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Módosítás adatai</xs:documentation>
					<xs:documentation xml:lang="en">Modification reference data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formName" type="FormNameType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyilatkozat megnevezése</xs:documentation>
					<xs:documentation xml:lang="en">Statement name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentificationNumber" type="common:TaxIdentificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adóazonosító jel</xs:documentation>
					<xs:documentation xml:lang="en">Tax identification number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxpayerTitle" type="TaxpayerTitleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adózó titulusa</xs:documentation>
					<xs:documentation xml:lang="en">Taxpayer title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surName" type="common:AtomicStringType50" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Családi név</xs:documentation>
					<xs:documentation xml:lang="en">Surname</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="common:AtomicStringType50" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Utónév</xs:documentation>
					<xs:documentation xml:lang="en">First name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vatIdentificationNumber" type="VatIdentificationNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adózó közösségi adószáma</xs:documentation>
					<xs:documentation xml:lang="en">VAT identification number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predecessorVatIdentificationNumber" type="VatIdentificationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Jogelőd közösségi adószáma</xs:documentation>
					<xs:documentation xml:lang="en">Predecessor's VAT identification number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formMethod" type="FormMethodType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyilatkozat jellege</xs:documentation>
					<xs:documentation xml:lang="en">Statement method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formFrequency" type="FormFrequencyType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyilatkozat gyakorisága</xs:documentation>
					<xs:documentation xml:lang="en">Statement frequency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodStart" type="TaxpointDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyomtatvány időszak kezdete</xs:documentation>
					<xs:documentation xml:lang="en">Statement period start</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodEnd" type="TaxpointDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyomtatvány időszak vége</xs:documentation>
					<xs:documentation xml:lang="en">Statement period end</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="common:GenericUnsignedIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A benyújtott nyomtatvány verziószáma</xs:documentation>
					<xs:documentation xml:lang="en">Version of the submitted statement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModificationReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Módosítás adatai</xs:documentation>
			<xs:documentation xml:lang="en">Modification data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="declarationReferenceId" type="common:EntityIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A módosítással érintett bevallás feldolgozási azonosítója</xs:documentation>
					<xs:documentation xml:lang="en">Processing identifier of the declaration on which the modification occurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationReferenceIndex" type="common:GenericUnsignedIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A módosítás sorrendiségének jelzése</xs:documentation>
					<xs:documentation xml:lang="en">The unique sequence number referring to the original declaration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="barCodeReference" type="BarCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Hibásnak minősített bevallás vonalkódja</xs:documentation>
					<xs:documentation xml:lang="en">Barcode of the declaration declared as incorrect</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Egyszerű címtípus</xs:documentation>
			<xs:documentation xml:lang="en">Simple address type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="countryCode" type="common:CountryCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az országkód az ISO 3166 alpha-2 szabvány szerint</xs:documentation>
					<xs:documentation xml:lang="en">ISO 3166 alpha-2 country code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="region" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Tartomány kódja (amennyiben értelmezhető az adott országban) az ISO 3166-2 alpha 2 szabvány szerint</xs:documentation>
					<xs:documentation xml:lang="en">ISO 3166 alpha-2 province code (if appropriate in a given country)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="common:PostalCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Irányítószám (amennyiben nem értelmezhető, 0000 értékkel kell kitölteni)</xs:documentation>
					<xs:documentation xml:lang="en">ZIP code (If can not be interpreted, need to be filled "0000")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="common:SimpleText255NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Település</xs:documentation>
					<xs:documentation xml:lang="en">Settlement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalAddressDetail" type="common:SimpleText255NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">További címadatok (pl. közterület neve és jellege, házszám, emelet, ajtó, helyrajzi szám, stb.)</xs:documentation>
					<xs:documentation xml:lang="en">Further address data (name and type of public place, house number, floor, door, lot number, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
