src/schemas/hu/gov/nav/vdr/earData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
# Project: NAV Elektronikus ÁFA rendszer earData XML séma
# Author: NAV Informatikai Intézet

# Version: v1.0 2023/06/02
-->
<xs:schema xmlns="http://schemas.nav.gov.hu/EAR/1.0/data" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common" xmlns:earbase="http://schemas.nav.gov.hu/EAR/1.0/base" targetNamespace="http://schemas.nav.gov.hu/EAR/1.0/data" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common" schemaLocation="../../NTCA/1.0/common.xsd"/>
	<xs:import namespace="http://schemas.nav.gov.hu/EAR/1.0/base" schemaLocation="earBase.xsd"/>
	<xs:simpleType name="AttachmentCategoryType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Csatolmány típus</xs:documentation>
			<xs:documentation xml:lang="en">Attachment type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FACTORING_CONTRACT">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Faktorálási szerződés</xs:documentation>
					<xs:documentation xml:lang="en">Factoring contract</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FactoringTaxCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Faktorálási szerződéshez kapcsolódó adókód</xs:documentation>
			<xs:documentation xml:lang="en">Tax code related to the factoring contract</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VAT_104">
				<xs:annotation>
					<xs:documentation xml:lang="hu">104-es adónemkód ÁFÁ-hoz</xs:documentation>
					<xs:documentation xml:lang="en">104 tax code for VAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SELF_CHECK_ALLOWANCE_215">
				<xs:annotation>
					<xs:documentation xml:lang="hu">215-ös adókód önellenőrzési pótlékhoz</xs:documentation>
					<xs:documentation xml:lang="en">215 tax code for self check allowance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OutOfTurnDeclarationCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Soron kívüli bevallás kódja</xs:documentation>
			<xs:documentation xml:lang="en">Out-of-turn declaration's code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRE_COMPANY_PERIOD_CLOSURE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Előtársasági időszak lezárása</xs:documentation>
					<xs:documentation xml:lang="en">Closing of the pre-company period</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOREIGN_CURRENCY_CHANGE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Devizanem váltása</xs:documentation>
					<xs:documentation xml:lang="en">Change currency</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER_INCORPORATION_CHANGE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egyéb gazdálkodó átalakulása</xs:documentation>
					<xs:documentation xml:lang="en">Transformation of other incorporation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRE_COMPANY_PERIOD_DECLARATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Előtársasági időszakot tartalmazó teljes bevallási időszak</xs:documentation>
					<xs:documentation xml:lang="en">Complete declaration period including pre-company period</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_WAREHOUSE_OUT_OF_TURN_DECLARATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adóraktár képviselője által beadott soron kívüli bevallás az ÁFA törvény 89/A.§ szerint</xs:documentation>
					<xs:documentation xml:lang="en">Out-of-turn declaration submitted by a tax warehouse representative according to § 89/A of the VAT Act</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartnerStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Partner áfa szerinti státusza</xs:documentation>
			<xs:documentation xml:lang="en">Partner's VAT-related status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOT_AVAILABLE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nem ismert az ügyviteli program számára</xs:documentation>
					<xs:documentation xml:lang="en">Not available for the management software</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRIVATE_PERSON">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nem áfaalany, külföldi vagy belföldi természetes személy</xs:documentation>
					<xs:documentation xml:lang="en">Non-VAT subject (domestic or foreign) natural person</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DOMESTIC">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Belföldi áfaalany</xs:documentation>
					<xs:documentation xml:lang="en">Domestic VAT subject</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egyéb (belföldi nem áfaalany, nem természetes személy, külföldi áfaalany és külföldi nem áfaalany, nem természetes személy)</xs:documentation>
					<xs:documentation xml:lang="en">Other (domestic non-VAT subject, non-natural person, foreign VAT subject and foreign non-VAT subject, non-natural person)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositionTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Áfa pozíció jelölése</xs:documentation>
			<xs:documentation xml:lang="en">VAT position type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAYABLE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Fizetendő áfa</xs:documentation>
					<xs:documentation xml:lang="en">Payable VAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEDUCTIBLE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Levonható áfa</xs:documentation>
					<xs:documentation xml:lang="en">Deductible VAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egyéb</xs:documentation>
					<xs:documentation xml:lang="en">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReturnDecisionType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Visszautalási döntés</xs:documentation>
			<xs:documentation xml:lang="en">Return decision</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_RETURN">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nem kér kiutalást</xs:documentation>
					<xs:documentation xml:lang="en">No request for return</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FULL_RETURN">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Teljes összeg kiutalása</xs:documentation>
					<xs:documentation xml:lang="en">Return of the full amount</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_ACCOUNT_TRANSFER">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adószámlára átvezetési kérelem</xs:documentation>
					<xs:documentation xml:lang="en">Request for transfer to a tax account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SheetFieldNameType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Melléklapon szereplő BEVFELD mező azonosítója</xs:documentation>
			<xs:documentation xml:lang="en">BEVFELD field identifier on the sheet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
			<xs:minLength value="4"/>
			<xs:pattern value="[A-Z0-9]{4,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SheetNameType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Melléklap neve</xs:documentation>
			<xs:documentation xml:lang="en">Name of the sheet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VAT_SHEET_2">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Állatbetegséggel összefüggő járványügyi intézkedés miatti kártalanítás okán fizetési halasztás kérése</xs:documentation>
					<xs:documentation xml:lang="en">Request for payment deferral because of compensation due to epidemiological measures related to animal diseases</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_6">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A behajthatatlan követelés elszámolásával összefüggő nyilatkozatok</xs:documentation>
					<xs:documentation xml:lang="en">Statements relating to the settlement of an irrecoverable debt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_7">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az Áfa tv. 6/A., 6/B. és a 6/C. számú mellékletei szerint a fordított adózás keretében történt értékesítésre vonatkozó nyilatkozat</xs:documentation>
					<xs:documentation xml:lang="en">Statement for reverse charge sales according to Annexes 6/A, 6/B and 6/C of the VAT Act</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_8">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az Áfa tv. 6/A., 6/B. és a 6/C. számú mellékletei szerint a fordított adózás keretében történt beszerzésre vonatkozó nyilatkozat</xs:documentation>
					<xs:documentation xml:lang="en">Statement for reverse charge purchases according to Annexes 6/A, 6/B and 6/C of the VAT Act</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_9">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az Áfa tv. 4/A. számú melléklet II. pont szerinti adatszolgáltatás a személygépkocsi alvázszámáról</xs:documentation>
					<xs:documentation xml:lang="en">Data report on the chassis number of passenger car according to Annex 4/A, point II of the VAT Act</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_A88">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adatszolgáltatás új közlekedési eszköz értékesítéséről</xs:documentation>
					<xs:documentation xml:lang="en">Data report on the sale of new means of transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_170">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Átvezetési és kiutalási kérelem a pénzforgalmat lebonyolító bizonylatokhoz</xs:documentation>
					<xs:documentation xml:lang="en">Transfer and assignment request for receipts handling cash flow</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_4">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Önellenőrzési melléklet</xs:documentation>
					<xs:documentation xml:lang="en">Self-audit attachment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAT_SHEET_EUNY">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyilatkozat az önellenőrzés indokáról, ha az adókötelezettséget megállapító jogszabály alaptörvény-ellenes vagy az Európai Unió kötelező jogi aktusába ütközik</xs:documentation>
					<xs:documentation xml:lang="en">Statement on the reason for the self-audit, if the legislation establishing tax liability is unconstitutional or conflicts with a mandatory legal act of the European Union</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SheetPageCountType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Melléklap oldalainak száma</xs:documentation>
			<xs:documentation xml:lang="en">Number of pages of a sheet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VpidType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">VPID szám</xs:documentation>
			<xs:documentation xml:lang="en">EORI number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceDocumentTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Forrás dokumentum bizonylat típusa</xs:documentation>
			<xs:documentation xml:lang="en">Type of the source document</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INVOICE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Számla</xs:documentation>
					<xs:documentation xml:lang="en">Invoice</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RECEIPT">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyugta</xs:documentation>
					<xs:documentation xml:lang="en">Receipt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CUSTOMS_DECLARATION">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Vámáru határozat</xs:documentation>
					<xs:documentation xml:lang="en">Customs declaration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egyéb bizonylat</xs:documentation>
					<xs:documentation xml:lang="en">Other document</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxMonetaryType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Adó összeg típusa</xs:documentation>
			<xs:documentation xml:lang="en">Tax amount type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxpayerStatusCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Adózói státusz kódja</xs:documentation>
			<xs:documentation xml:lang="en">Taxpayer status code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CODE_1">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közösségi adószámmal rendelkező, áfaalanynak nem minősülő adófizetésre kötelezett jogi személy</xs:documentation>
					<xs:documentation xml:lang="en">Legal person with Community tax number who is not a VAT subject but obligated to pay VAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CODE_3">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közösségi adószámmal nem rendelkező, áfaalanynak nem minősülő természetes személy</xs:documentation>
					<xs:documentation xml:lang="en">Natural person without Community tax number who is not a VAT subject</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CODE_4">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közösségi adószámmal nem rendelkező, áfaalanynak nem minősülő egyéb szervezet</xs:documentation>
					<xs:documentation xml:lang="en">Other organization without Community tax number that is not a VAT subject</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CODE_5">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közösségi adószámmal nem rendelkező, áfaalanynak nem minősülő jogi személy</xs:documentation>
					<xs:documentation xml:lang="en">Legal person without Community tax number who is not a VAT subject</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRateType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Hányados típusa</xs:documentation>
			<xs:documentation xml:lang="en">Rate type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
			<xs:totalDigits value="5"/>
			<xs:minExclusive value="0"/>
			<xs:maxExclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdditionalAttachmentInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Csatolmány egyéb adatai</xs:documentation>
			<xs:documentation xml:lang="en">Additional data of the attachment</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="factoringContractData" type="FactoringContractDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Faktorálási szerződés adatai</xs:documentation>
					<xs:documentation xml:lang="en">Factoring contract data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AgriculturalCompensationPremiumType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Mezőgazdasági kompenzációs felár</xs:documentation>
			<xs:documentation xml:lang="en">Agricultural compensation premium</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sevenPercentCount" type="earbase:BevfeldThreeDigitNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">7%-os mértékű kompenzáció darabszáma</xs:documentation>
					<xs:documentation xml:lang="en">Count of compensations at 7%</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="twelvePercentCount" type="earbase:BevfeldThreeDigitNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">12%-os mértékű kompenzáció darabszáma</xs:documentation>
					<xs:documentation xml:lang="en">Count of compensations at 12%</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttachmentType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Csatolmányok</xs:documentation>
			<xs:documentation xml:lang="en">Attachments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimCheckId" type="common:EntityIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A melléklet feltöltésekor kapott azonosító</xs:documentation>
					<xs:documentation xml:lang="en">Identifier received when uploading the attachment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attachmentCategory" type="AttachmentCategoryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Csatolmány típus</xs:documentation>
					<xs:documentation xml:lang="en">Attachment type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalAttachmentInfo" type="AdditionalAttachmentInfoType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Csatolmány egyéb adatai</xs:documentation>
					<xs:documentation xml:lang="en">Additional data of the attachment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeclarationStatementsType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Nyilatkozatok</xs:documentation>
			<xs:documentation xml:lang="en">Statements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="returnDecision" type="ReturnDecisionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Visszautalási döntés</xs:documentation>
					<xs:documentation xml:lang="en">Return decision</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxpayerStatusCode" type="TaxpayerStatusCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adózói státusz</xs:documentation>
					<xs:documentation xml:lang="en">Taxpayer status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procedureStatements" type="ProcedureStatementsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Eljárási nyilatkozatok</xs:documentation>
					<xs:documentation xml:lang="en">Statements of procedures</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="returnStatements" type="ReturnStatementsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Visszautalási nyilatkozatok</xs:documentation>
					<xs:documentation xml:lang="en">Return statements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeclarationSummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A bevallás összegző adatai</xs:documentation>
			<xs:documentation xml:lang="en">Summary data of the declaration</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SummaryType">
				<xs:sequence>
					<xs:element name="lapsedResidualTaxIndicator" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="hu">Előző időszakról beszámítható csökkentő tétel összege elévült követelést tartalmaz</xs:documentation>
							<xs:documentation xml:lang="en">Amount of deduction from previous period includes lapsed receivables</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeductionOptionsType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Levonási adatok</xs:documentation>
			<xs:documentation xml:lang="en">Deduction data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="deductionRate" type="TaxRateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Levonási hányados</xs:documentation>
					<xs:documentation xml:lang="en">Deduction rate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductionAmount" type="TaxMonetaryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Levonási összeg</xs:documentation>
					<xs:documentation xml:lang="en">Deduction amount</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomesticPaymentServiceProviderType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Belföldi pénzügyi szolgáltató adatai</xs:documentation>
			<xs:documentation xml:lang="en">Domestic payment service provider data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="domesticProviderName" type="earbase:BevfeldText80Type">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Belföldi szolgáltató neve</xs:documentation>
					<xs:documentation xml:lang="en">Domestic service provider name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="domesticBankAccountNumber" type="common:BankAccountNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Belföldi számlaszám</xs:documentation>
					<xs:documentation xml:lang="en">Domestic bank account number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomesticTaxDataType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Belföldi adószám adatok</xs:documentation>
			<xs:documentation xml:lang="en">Domestic tax number data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxNumber" type="common:TaxpayerIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az adószám 8 jegyű törzsszáma</xs:documentation>
					<xs:documentation xml:lang="en">The 8-digit core number section of the tax number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupMemberTaxNumber" type="common:TaxpayerIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Csoport tag adószámának 8 jegyű törzsszáma</xs:documentation>
					<xs:documentation xml:lang="en">The 8-digit core number section of the group member's tax number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FactoringContractDataType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Faktorálási szerződés adatai</xs:documentation>
			<xs:documentation xml:lang="en">Factoring contract data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="factoringContractNumber" type="earbase:BevfeldText40Type">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Faktorálási szerződés száma</xs:documentation>
					<xs:documentation xml:lang="en">Factoring contract number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="factoringContractDate" type="earbase:DeclarationBaseDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Faktorálási szerződés kelte</xs:documentation>
					<xs:documentation xml:lang="en">Factoring contract date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="factoringTaxCode" type="FactoringTaxCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adónem</xs:documentation>
					<xs:documentation xml:lang="en">Tax code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="factoringAmount" type="TaxMonetaryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Faktorált összeg</xs:documentation>
					<xs:documentation xml:lang="en">Factoring amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="domesticPaymentServiceProvider" type="DomesticPaymentServiceProviderType">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Belföldi pénzügyi szolgáltató adatai</xs:documentation>
						<xs:documentation xml:lang="en">Domestic payment service provider data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="foreignPaymentServiceProvider" type="ForeignPaymentServiceProviderType">
					<xs:annotation>
						<xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató adatai</xs:documentation>
						<xs:documentation xml:lang="en">Foreign payment service provider data</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForeignPaymentServiceProviderType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató adatai</xs:documentation>
			<xs:documentation xml:lang="en">Foreign payment service provider data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="foreignProviderName" type="earbase:BevfeldText80Type">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató neve</xs:documentation>
					<xs:documentation xml:lang="en">Foreign payment service provider name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreignProviderAddress" type="earbase:BevfeldText80Type">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató címe</xs:documentation>
					<xs:documentation xml:lang="en">Foreign payment service provider address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreignBankAccountOwnerName" type="earbase:BevfeldText80Type">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Külföldi számla tulajdonosának neve</xs:documentation>
					<xs:documentation xml:lang="en">Foreign bank account owner's name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreignBankAccountNumber" type="earbase:BevfeldForeignAccountType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Külföldi számla száma</xs:documentation>
					<xs:documentation xml:lang="en">Foreign bank account number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ibanIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">IBAN számlaszám jelölés</xs:documentation>
					<xs:documentation xml:lang="en">IBAN account number indication</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swiftCode" type="common:SwiftCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">SWIFT kód</xs:documentation>
					<xs:documentation xml:lang="en">SWIFT code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="common:CountryCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Országkód</xs:documentation>
					<xs:documentation xml:lang="en">Country code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currencyCode" type="common:CurrencyType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A számla pénzneme az ISO 4217 szabvány szerint</xs:documentation>
					<xs:documentation xml:lang="en">ISO 4217 currency code on the invoice</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralLedgerInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Főkönyvi adatok</xs:documentation>
			<xs:documentation xml:lang="en">General ledger data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="glAccountId" type="common:SimpleText512NotBlankType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Főkönyvi számlaszám</xs:documentation>
					<xs:documentation xml:lang="en">General ledger account number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="glPostingDate" type="earbase:TaxpointDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Főkönyvi feladás dátuma</xs:documentation>
					<xs:documentation xml:lang="en">General ledger posting date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="glTransactionId" type="common:SimpleText512NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Főkönyvi könyvelés egyedi azonosítója</xs:documentation>
					<xs:documentation xml:lang="en">Unique identifier for general ledger accounting</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Partner adatok</xs:documentation>
			<xs:documentation xml:lang="en">Partner data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partnerStatus" type="PartnerStatusType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Partner ÁFA szerinti státusza</xs:documentation>
					<xs:documentation xml:lang="en">Partner's VAT-related status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partnerTaxData" type="PartnerTaxDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Partner adószáma</xs:documentation>
					<xs:documentation xml:lang="en">Partner's tax number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partnerName" type="common:SimpleText512NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Partner neve</xs:documentation>
					<xs:documentation xml:lang="en">Partner's name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partnerAddress" type="earbase:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Partner címadatai</xs:documentation>
					<xs:documentation xml:lang="en">Partner's address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerTaxDataType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Partner adószáma</xs:documentation>
			<xs:documentation xml:lang="en">Partner's tax number</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="domesticTaxData" type="DomesticTaxDataType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Belföldi adószám adatok</xs:documentation>
					<xs:documentation xml:lang="en">Domestic tax number data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communityVatNumber" type="common:CommunityVatNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közösségi adószám</xs:documentation>
					<xs:documentation xml:lang="en">Community tax number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thirdStateTaxId" type="common:SimpleText50NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Harmadik országbeli adóazonosító</xs:documentation>
					<xs:documentation xml:lang="en">Third state tax identification number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PostalReturnType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Postai kiutalás adatai</xs:documentation>
			<xs:documentation xml:lang="en">Postal return data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="postalCode" type="earbase:BevfeldPostalCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Irányítószám</xs:documentation>
					<xs:documentation xml:lang="en">Postal code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="earbase:BevfeldCityType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Város</xs:documentation>
					<xs:documentation xml:lang="en">City</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalAddress" type="earbase:BevfeldAdditionalAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közterület neve, jellege stb.</xs:documentation>
					<xs:documentation xml:lang="en">Name and category of public place</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcedureStatementsType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Eljárási nyilatkozatok</xs:documentation>
			<xs:documentation xml:lang="en">Procedure statements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="thresholdExceededIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Küszöbérték túllépés jelölése éves adózó esetén</xs:documentation>
					<xs:documentation xml:lang="en">Threshold exceeded by annual taxpayer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interimFrequencyChangeIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adóhatósági engedéllyel évközi gyakoriság váltás jelölése</xs:documentation>
					<xs:documentation xml:lang="en">Change of frequency with tax authority permit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="midYearCommunityTaxNumberIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Közösségi adószám évközi megállapítása miatt törtidőszaki bevallás jelölése éves adózó esetén</xs:documentation>
					<xs:documentation xml:lang="en">Indication of fractional declaration period because of mid-year assessment of Community tax number for annual taxpayer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outOfTurnDeclarationCode" type="OutOfTurnDeclarationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Soron kívüli bevallás kódja</xs:documentation>
					<xs:documentation xml:lang="en">Out-of-turn declaration's code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="becomesLiveAgainIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Eljárás végén újra élővé válás jelölése</xs:documentation>
					<xs:documentation xml:lang="en">Indication of becoming alive again at the end of the procedure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="animalDiseaseDefermentIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Állatbetegséggel összefüggő járványügyi intézkedés miatti kártalanítás okán fizetési halasztás kérése</xs:documentation>
					<xs:documentation xml:lang="en">Request for payment deferral because of compensation due to epidemiological measures related to animal diseases</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxLiabilityBesideExemptmentIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Mentes státusz mellett adókötelezettsége keletkezett</xs:documentation>
					<xs:documentation xml:lang="en">Tax liability incurred beside exempt status</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnMethodType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Visszaigénylés módja</xs:documentation>
			<xs:documentation xml:lang="en">Return method</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="domesticPaymentServiceProvider" type="DomesticPaymentServiceProviderType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Belföldi pénzügyi szolgáltató adatai</xs:documentation>
					<xs:documentation xml:lang="en">Domestic payment service provider data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreignPaymentServiceProvider" type="ForeignPaymentServiceProviderType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató adatai</xs:documentation>
					<xs:documentation xml:lang="en">Foreign payment service provider data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalReturn" type="PostalReturnType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Postai kiutalás adatai</xs:documentation>
					<xs:documentation xml:lang="en">Postal return data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReturnStatementsType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Kiutalási rendelkezések</xs:documentation>
			<xs:documentation xml:lang="en">Return statements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="returnMethod" type="ReturnMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Visszaigénylés módja</xs:documentation>
					<xs:documentation xml:lang="en">Return method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicLlcIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyilvánosan működő részvénytársaság jelölése</xs:documentation>
					<xs:documentation xml:lang="en">Indication of a public limited company</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expediteReturnIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Nyilatkozat az Art. 64.§ (3) bek. szerint</xs:documentation>
					<xs:documentation xml:lang="en">Statement according to Art. § 64 (3)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SheetFieldType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Melléklap mezői</xs:documentation>
			<xs:documentation xml:lang="en">Sheet fields</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sheetFieldName" type="SheetFieldNameType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A melléklapon szereplő BEVFELD mező azonosítója</xs:documentation>
					<xs:documentation xml:lang="en">BEVFELD field identifier on the sheet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sheetFieldValue" type="common:SimpleText512NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A melléklapon szereplő BEVFELD mező értéke</xs:documentation>
					<xs:documentation xml:lang="en">BEVFELD field value on the sheet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SheetListType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Melléklapok</xs:documentation>
			<xs:documentation xml:lang="en">Sheets</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sheet" type="SheetType" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Melléklap</xs:documentation>
					<xs:documentation xml:lang="en">Sheet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SheetType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Melléklap</xs:documentation>
			<xs:documentation xml:lang="en">Sheet</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sheetName" type="SheetNameType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Melléklap neve</xs:documentation>
					<xs:documentation xml:lang="en">Sheet name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sheetPageCount" type="SheetPageCountType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Melléklap oldalainak száma</xs:documentation>
					<xs:documentation xml:lang="en">Number of pages of a sheet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vpid" type="VpidType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">VPID szám</xs:documentation>
					<xs:documentation xml:lang="en">EORI number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sheetField" type="SheetFieldType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Melléklap mezői</xs:documentation>
					<xs:documentation xml:lang="en">Sheet fields</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A bevallás összegző adatainak alap típusa</xs:documentation>
			<xs:documentation xml:lang="en">Summary data base type of the declaration</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sumResidualTax" type="TaxMonetaryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Előző időszakról beszámítható csökkentő tétel összege</xs:documentation>
					<xs:documentation xml:lang="en">Amount of deduction from previous period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sumAccountedTax" type="TaxMonetaryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Tárgyidőszakban megállapított fizetendő adó együttes összegének és a levonható előzetesen felszámított adónak a különbözete</xs:documentation>
					<xs:documentation xml:lang="en">The difference between the total amount of payable tax stated in the relevant period and the prepaid deductible tax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sumPayableTax" type="TaxMonetaryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Befizetendő adó összege</xs:documentation>
					<xs:documentation xml:lang="en">Amount of payable tax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sumDeductibleTax" type="TaxMonetaryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Visszaigényelhető adó összege</xs:documentation>
					<xs:documentation xml:lang="en">Amount of deductible tax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sumTransferableTax" type="TaxMonetaryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Következő időszakra átvihető követelés összege</xs:documentation>
					<xs:documentation xml:lang="en">Amount of receivables that can be carried over to the next period</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Adózási adatok</xs:documentation>
			<xs:documentation xml:lang="en">Taxation data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="standardTaxCode" type="common:SimpleText50NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A tétel standard adókódja</xs:documentation>
					<xs:documentation xml:lang="en">Standard tax code of the item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownTaxCode" type="common:SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A tétel vállalati adókódja</xs:documentation>
					<xs:documentation xml:lang="en">Corporate tax code of the item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxPosition" type="TaxPositionType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A tétel adózási pozíciója</xs:documentation>
					<xs:documentation xml:lang="en">Tax position of the item</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxPositionType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A tétel adózási pozíciója</xs:documentation>
			<xs:documentation xml:lang="en">Tax position of the item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="positionType" type="PositionTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adózási pozíció</xs:documentation>
					<xs:documentation xml:lang="en">Tax position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxBase" type="TaxMonetaryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adó alapja</xs:documentation>
					<xs:documentation xml:lang="en">Tax base</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxAmount" type="TaxMonetaryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adó összege</xs:documentation>
					<xs:documentation xml:lang="en">Tax amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductionOptions" type="DeductionOptionsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Levonási adatok</xs:documentation>
					<xs:documentation xml:lang="en">Deduction data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VatAnalyticsItemType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Analitika tételsor adatai</xs:documentation>
			<xs:documentation xml:lang="en">Analytics item data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lineNumber" type="common:GenericUnsignedIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Analitika sorszáma</xs:documentation>
					<xs:documentation xml:lang="en">Sequential number of the analytics</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generalLedgerInformation" type="GeneralLedgerInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Főkönyvi adatok</xs:documentation>
					<xs:documentation xml:lang="en">General ledger data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceDocumentId" type="common:SimpleText50NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Forrás dokumentum egyedi azonosítója</xs:documentation>
					<xs:documentation xml:lang="en">Source document unique identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceDocumentIssueDate" type="earbase:DeclarationBaseDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Forrás dokumentum kiállítási dátuma</xs:documentation>
					<xs:documentation xml:lang="en">Source document issue date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceDocumentType" type="SourceDocumentTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Forrás dokumentum bizonylat típusa</xs:documentation>
					<xs:documentation xml:lang="en">Type of the source document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxpointDate" type="earbase:TaxpointDateType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adó esedékességi napja</xs:documentation>
					<xs:documentation xml:lang="en">Taxpoint date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partnerInfo" type="PartnerInfoType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Partner adatok</xs:documentation>
					<xs:documentation xml:lang="en">Partner data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxInformation" type="TaxInformationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Adózási adatok</xs:documentation>
					<xs:documentation xml:lang="en">Taxation data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VatAnalyticsType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">ÁFA analitika</xs:documentation>
			<xs:documentation xml:lang="en">VAT analytics</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="totalRowCount">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az analitika sorainak száma</xs:documentation>
					<xs:documentation xml:lang="en">Number of rows in the analytics</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="agriculturalCompensationPremium" type="AgriculturalCompensationPremiumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Mezőgazdasági kompenzációs felár</xs:documentation>
					<xs:documentation xml:lang="en">Agricultural compensation premium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vatAnalyticsItem" type="VatAnalyticsItemType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Analitika tételsor adatai</xs:documentation>
					<xs:documentation xml:lang="en">Analytics item data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VatDeclarationDataType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Az ÁFA bevallás adatai</xs:documentation>
			<xs:documentation xml:lang="en">VAT declaration data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="declarationInfo" type="earbase:DeclarationInfoType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A bevallás fejadatai</xs:documentation>
					<xs:documentation xml:lang="en">Header data of the declaration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationStatements" type="DeclarationStatementsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Bevallási nyilatkozatok</xs:documentation>
					<xs:documentation xml:lang="en">Declaration statements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vatAnalytics" type="VatAnalyticsType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">ÁFA analitika</xs:documentation>
					<xs:documentation xml:lang="en">VAT analytics</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalDeclarationSummary" type="SummaryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az eredeti bevallás összegző adatai</xs:documentation>
					<xs:documentation xml:lang="en">Summary data of the original declaration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="declarationSummary" type="DeclarationSummaryType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A bevallás összegző adatai</xs:documentation>
					<xs:documentation xml:lang="en">Summary data of the declaration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sheetList" type="SheetListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Melléklapok</xs:documentation>
					<xs:documentation xml:lang="en">Sheets</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Csatolmányok</xs:documentation>
					<xs:documentation xml:lang="en">Attachments</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VatDeclarationData">
		<xs:annotation>
			<xs:documentation xml:lang="hu">XML root element, az ÁFA bevallás adatait leíró típus</xs:documentation>
			<xs:documentation xml:lang="en">XML root element containing VAT declaration data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="VatDeclarationDataType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
