src/schemas/hu/gov/nav/vdr/earData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
# Project: NAV Elektronikus ÁFA rendszer earData XML séma
# Author: NAV Informatikai Intézet

# # Version: v2.0 2026/04/01
-->
<xs:schema xmlns="http://schemas.nav.gov.hu/EAR/2.0/data"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common"
           xmlns:earbase="http://schemas.nav.gov.hu/EAR/2.0/base"
           targetNamespace="http://schemas.nav.gov.hu/EAR/2.0/data" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://schemas.nav.gov.hu/NTCA/1.0/common"/>
    <xs:import namespace="http://schemas.nav.gov.hu/EAR/2.0/base"/>
    <xs:complexType name="AdditionalAttachmentInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Csatolmány egyéb adatai</xs:documentation>
            <xs:documentation xml:lang="en">Additional data of the attachment</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="factoringContractData" type="FactoringContractDataType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Faktorálási szerződés adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Factoring contract data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AgriculturalCompensationPremiumType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Mezőgazdasági kompenzációs felár</xs:documentation>
            <xs:documentation xml:lang="en">Agricultural compensation premium</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sevenPercentCount" type="earbase:BevfeldThreeDigitNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">7%-os mértékű kompenzáció darabszáma</xs:documentation>
                    <xs:documentation xml:lang="en">Count of compensations at 7%</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="twelvePercentCount" type="earbase:BevfeldThreeDigitNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">12%-os mértékű kompenzáció darabszáma</xs:documentation>
                    <xs:documentation xml:lang="en">Count of compensations at 12%</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttachmentType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Csatolmányok</xs:documentation>
            <xs:documentation xml:lang="en">Attachments</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="claimCheckId" type="common:EntityIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A melléklet feltöltésekor kapott azonosító</xs:documentation>
                    <xs:documentation xml:lang="en">Identifier received when uploading the attachment</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attachmentCategory" type="earbase:AttachmentCategoryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Csatolmány típus</xs:documentation>
                    <xs:documentation xml:lang="en">Attachment type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="additionalAttachmentInfo" type="AdditionalAttachmentInfoType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Csatolmány egyéb adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Additional data of the attachment</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeclarationStatementsType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Nyilatkozatok</xs:documentation>
            <xs:documentation xml:lang="en">Statements</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="returnDecision" type="earbase:ReturnDecisionType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Visszautalási döntés</xs:documentation>
                    <xs:documentation xml:lang="en">Return decision</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxpayerStatusCode" type="earbase:TaxpayerStatusCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adózói státusz</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpayer status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="procedureStatements" type="ProcedureStatementsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Eljárási nyilatkozatok</xs:documentation>
                    <xs:documentation xml:lang="en">Statements of procedures</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="returnStatements" type="ReturnStatementsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Visszautalási nyilatkozatok</xs:documentation>
                    <xs:documentation xml:lang="en">Return statements</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeclarationSummaryType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">A bevallás összegző adatai</xs:documentation>
            <xs:documentation xml:lang="en">Summary data of the declaration</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SummaryType">
                <xs:sequence>
                    <xs:element name="lapsedResidualTaxIndicator" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="hu">Előző időszakról beszámítható csökkentő tétel összege
                                elévült követelést tartalmaz
                            </xs:documentation>
                            <xs:documentation xml:lang="en">Amount of deduction from previous period includes lapsed
                                receivables
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeductionOptionsType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Levonási adatok</xs:documentation>
            <xs:documentation xml:lang="en">Deduction data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="deductionRate" type="earbase:TaxRateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Levonási hányados</xs:documentation>
                    <xs:documentation xml:lang="en">Deduction rate</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deductionAmount" type="earbase:TaxMonetaryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Levonási összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Deduction amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomesticPaymentServiceProviderType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Belföldi pénzügyi szolgáltató adatai</xs:documentation>
            <xs:documentation xml:lang="en">Domestic payment service provider data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="domesticProviderName" type="earbase:BevfeldText80Type">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Belföldi szolgáltató neve</xs:documentation>
                    <xs:documentation xml:lang="en">Domestic service provider name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="domesticBankAccountNumber" type="common:BankAccountNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Belföldi számlaszám</xs:documentation>
                    <xs:documentation xml:lang="en">Domestic bank account number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomesticTaxDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Belföldi adószám adatok</xs:documentation>
            <xs:documentation xml:lang="en">Domestic tax number data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxNumber" type="common:TaxpayerIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az adószám 8 jegyű törzsszáma</xs:documentation>
                    <xs:documentation xml:lang="en">The 8-digit core number section of the tax number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="groupMemberTaxNumber" type="common:TaxpayerIdType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Csoport tag adószámának 8 jegyű törzsszáma</xs:documentation>
                    <xs:documentation xml:lang="en">The 8-digit core number section of the group member's tax number
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FactoringContractDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Faktorálási szerződés adatai</xs:documentation>
            <xs:documentation xml:lang="en">Factoring contract data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="factoringContractNumber" type="earbase:BevfeldText40Type">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Faktorálási szerződés száma</xs:documentation>
                    <xs:documentation xml:lang="en">Factoring contract number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="factoringContractDate" type="earbase:DeclarationBaseDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Faktorálási szerződés kelte</xs:documentation>
                    <xs:documentation xml:lang="en">Factoring contract date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="factoringTaxCode" type="earbase:FactoringTaxCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adónem</xs:documentation>
                    <xs:documentation xml:lang="en">Tax code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="factoringAmount" type="earbase:TaxMonetaryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Faktorált összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Factoring amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="domesticPaymentServiceProvider" type="DomesticPaymentServiceProviderType">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Belföldi pénzügyi szolgáltató adatai</xs:documentation>
                        <xs:documentation xml:lang="en">Domestic payment service provider data</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="foreignPaymentServiceProvider" type="ForeignPaymentServiceProviderType">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató adatai</xs:documentation>
                        <xs:documentation xml:lang="en">Foreign payment service provider data</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignPaymentServiceProviderType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató adatai</xs:documentation>
            <xs:documentation xml:lang="en">Foreign payment service provider data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="foreignProviderName" type="earbase:BevfeldText80Type">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató neve</xs:documentation>
                    <xs:documentation xml:lang="en">Foreign payment service provider name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foreignProviderAddress" type="earbase:BevfeldText80Type">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató címe</xs:documentation>
                    <xs:documentation xml:lang="en">Foreign payment service provider address</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foreignBankAccountOwnerName" type="earbase:BevfeldText80Type">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Külföldi számla tulajdonosának neve</xs:documentation>
                    <xs:documentation xml:lang="en">Foreign bank account owner's name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foreignBankAccountNumber" type="earbase:BevfeldForeignAccountType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Külföldi számla száma</xs:documentation>
                    <xs:documentation xml:lang="en">Foreign bank account number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ibanIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">IBAN számlaszám jelölés</xs:documentation>
                    <xs:documentation xml:lang="en">IBAN account number indication</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="swiftCode" type="common:SwiftCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">SWIFT kód</xs:documentation>
                    <xs:documentation xml:lang="en">SWIFT code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="countryCode" type="common:CountryCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Országkód</xs:documentation>
                    <xs:documentation xml:lang="en">Country code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="currencyCode" type="common:CurrencyType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A számla pénzneme az ISO 4217 szabvány szerint</xs:documentation>
                    <xs:documentation xml:lang="en">ISO 4217 currency code on the invoice</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralLedgerInformationType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Főkönyvi adatok</xs:documentation>
            <xs:documentation xml:lang="en">General ledger data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="glAccountId" type="common:SimpleText512NotBlankType" maxOccurs="2">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Főkönyvi számlaszám</xs:documentation>
                    <xs:documentation xml:lang="en">General ledger account number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="glPostingDate" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Főkönyvi feladás dátuma</xs:documentation>
                    <xs:documentation xml:lang="en">General ledger posting date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="glTransactionId" type="common:SimpleText512NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Főkönyvi könyvelés egyedi azonosítója</xs:documentation>
                    <xs:documentation xml:lang="en">Unique identifier for general ledger accounting</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartnerInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Partner adatok</xs:documentation>
            <xs:documentation xml:lang="en">Partner data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="partnerStatus" type="earbase:PartnerStatusType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Partner ÁFA szerinti státusza</xs:documentation>
                    <xs:documentation xml:lang="en">Partner's VAT-related status</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partnerTaxData" type="PartnerTaxDataType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Partner adószáma</xs:documentation>
                    <xs:documentation xml:lang="en">Partner's tax number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partnerName" type="common:SimpleText512NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Partner neve</xs:documentation>
                    <xs:documentation xml:lang="en">Partner's name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partnerAddress" type="earbase:AddressType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Partner címadatai</xs:documentation>
                    <xs:documentation xml:lang="en">Partner's address</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartnerTaxDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Partner adószáma</xs:documentation>
            <xs:documentation xml:lang="en">Partner's tax number</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="domesticTaxData" type="DomesticTaxDataType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Belföldi adószám adatok</xs:documentation>
                    <xs:documentation xml:lang="en">Domestic tax number data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="communityVatNumber" type="common:CommunityVatNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közösségi adószám</xs:documentation>
                    <xs:documentation xml:lang="en">Community tax number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="thirdStateTaxId" type="common:SimpleText50NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Harmadik országbeli adóazonosító</xs:documentation>
                    <xs:documentation xml:lang="en">Third state tax identification number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalReturnType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Postai kiutalás adatai</xs:documentation>
            <xs:documentation xml:lang="en">Postal return data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="postalCode" type="earbase:BevfeldPostalCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Irányítószám</xs:documentation>
                    <xs:documentation xml:lang="en">Postal code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="earbase:BevfeldCityType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Város</xs:documentation>
                    <xs:documentation xml:lang="en">City</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="additionalAddress" type="earbase:BevfeldAdditionalAddressType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közterület neve, jellege stb.</xs:documentation>
                    <xs:documentation xml:lang="en">Name and category of public place</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcedureStatementsType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Eljárási nyilatkozatok</xs:documentation>
            <xs:documentation xml:lang="en">Procedure statements</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="thresholdExceededIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Küszöbérték túllépés jelölése éves adózó esetén</xs:documentation>
                    <xs:documentation xml:lang="en">Threshold exceeded by annual taxpayer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="interimFrequencyChangeIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adóhatósági engedéllyel évközi gyakoriság váltás jelölése
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Change of frequency with tax authority permit</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="midYearCommunityTaxNumberIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közösségi adószám évközi megállapítása miatt törtidőszaki bevallás
                        jelölése éves adózó esetén
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Indication of fractional declaration period because of mid-year
                        assessment of Community tax number
                        for annual taxpayer
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="outOfTurnDeclarationCode" type="earbase:OutOfTurnDeclarationCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Soron kívüli bevallás kódja</xs:documentation>
                    <xs:documentation xml:lang="en">Out-of-turn declaration's code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="becomesLiveAgainIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Eljárás végén újra élővé válás jelölése</xs:documentation>
                    <xs:documentation xml:lang="en">Indication of becoming alive again at the end of the procedure
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="animalDiseaseDefermentIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Állatbetegséggel összefüggő járványügyi intézkedés miatti
                        kártalanítás okán fizetési halasztás
                        kérése
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Request for payment deferral because of compensation due to
                        epidemiological measures related to
                        animal diseases
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxLiabilityBesideExemptmentIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Mentes státusz mellett adókötelezettsége keletkezett
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Tax liability incurred beside exempt status</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnMethodType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Visszaigénylés módja</xs:documentation>
            <xs:documentation xml:lang="en">Return method</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="domesticPaymentServiceProvider" type="DomesticPaymentServiceProviderType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Belföldi pénzügyi szolgáltató adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Domestic payment service provider data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foreignPaymentServiceProvider" type="ForeignPaymentServiceProviderType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Külföldi pénzügyi szolgáltató adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Foreign payment service provider data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalReturn" type="PostalReturnType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Postai kiutalás adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Postal return data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReturnStatementsType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Kiutalási rendelkezések</xs:documentation>
            <xs:documentation xml:lang="en">Return statements</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="returnMethod" type="ReturnMethodType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Visszaigénylés módja</xs:documentation>
                    <xs:documentation xml:lang="en">Return method</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="publicLlcIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Nyilvánosan működő részvénytársaság jelölése</xs:documentation>
                    <xs:documentation xml:lang="en">Indication of a public limited company</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expediteReturnIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Nyilatkozat az Art. 64.§ (3) bek. szerint</xs:documentation>
                    <xs:documentation xml:lang="en">Statement according to Art. § 64 (3)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AnimalDiseaseType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Állatbetegség - 02-es melléklap típus</xs:documentation>
            <xs:documentation xml:lang="en">Animal disease - sheet 02 type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="animalDiseaseItem" type="AnimalDiseaseItemType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Állatbetegség elem</xs:documentation>
                    <xs:documentation xml:lang="en">Animal disease item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AnimalDiseaseItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Állatbetegség elem típus</xs:documentation>
            <xs:documentation xml:lang="en">Animal disease item type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="decisionNumber" type="earbase:AtomicStringType50">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Határozatszám</xs:documentation>
                    <xs:documentation xml:lang="en">Resolution number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="finalityDateOfDecision" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Határozat véglegessé válás dátuma</xs:documentation>
                    <xs:documentation xml:lang="en">Resolution finality date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="compensationVatAmount" type="earbase:IntMax20DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Kártalanítás ÁFA tartalmának összege</xs:documentation>
                    <xs:documentation xml:lang="en">Compensation VAT amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="compensationType" type="earbase:CompensationTypeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Korrekció típusa</xs:documentation>
                    <xs:documentation xml:lang="en">Compensation type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousDeferredAmount" type="earbase:IntMax20DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Előzmény bevallásban érvényesített fizetési halasztás összege
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Amount of payment deferral validated in previous tax return
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="claimableDeferralAmount" type="earbase:IntMax20DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Érvényesíthető fizetési halasztás összege</xs:documentation>
                    <xs:documentation xml:lang="en">Validable payment deferral amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiabilityChangeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Kötelezettség változás típus</xs:documentation>
            <xs:documentation xml:lang="en">Liability change type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="liabilityGrowth" type="earbase:IntMax20DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Önellenőrzés eredményeképp kimutatott kötelezettségnövekedés
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Liability growth</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="liabilityReduction" type="earbase:IntMax20DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Önellenőrzés eredményeképp kimutatott kötelezettségcsökkenés
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Liability reduction</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrentSelfCheckType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Aktuális bevallás önellenőrzési adatai</xs:documentation>
            <xs:documentation xml:lang="en">Current declaration self-check data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nonStandardAllowanceCalcReason" type="earbase:NonStandardAllowanceCalcReasonType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Általánostól eltérő számítási ok</xs:documentation>
                    <xs:documentation xml:lang="en">Non standard allowance calc reason</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="allowanceBase" type="earbase:IntMax12DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Felszámolt önellenőrzési pótlék alapja</xs:documentation>
                    <xs:documentation xml:lang="en">Allowance base</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="allowanceAmount" type="earbase:IntMax12DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Felszámolt önellenőrzési pótlék összege</xs:documentation>
                    <xs:documentation xml:lang="en">Allowance amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="liabilityChange" type="LiabilityChangeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Kötelezettség változás</xs:documentation>
                    <xs:documentation xml:lang="en">Liability change</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreviousSelfCheckAllowanceAmountType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék összege típus</xs:documentation>
            <xs:documentation xml:lang="en">Previous selfcheck allowance amount type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="originalAmount" type="earbase:IntMax12DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Eredeti összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Original Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="modifiedAmount" type="earbase:IntMax12DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Módosított összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Modified amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreviousSelfCheckAllowanceModificationType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék módosítás</xs:documentation>
            <xs:documentation xml:lang="en">Previous self-check allowance modification</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="previousSelfCheckAllowanceBase" type="earbase:IntMax12DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék alap</xs:documentation>
                    <xs:documentation xml:lang="en">Previous selfcheck allowance base</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousSelfCheckAllowanceAmount" type="PreviousSelfCheckAllowanceAmountType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék összege</xs:documentation>
                    <xs:documentation xml:lang="en">Previous selfcheck allowance amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousSelfCheckAllowanceAmountModification"
                        type="PreviousSelfCheckAllowanceAmountModificationType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Önellenőrzési pótlék módosított összege</xs:documentation>
                    <xs:documentation xml:lang="en">Previous selfcheck allowance amount modification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreviousSelfCheckAllowanceAmountModificationType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Önellenőrzési pótlék módosított összege</xs:documentation>
            <xs:documentation xml:lang="en">Self-check attachment type</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="previousSelfCheckAllowanceGrowth" type="earbase:IntMax12DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék növekedés</xs:documentation>
                    <xs:documentation xml:lang="en">Previous selfcheck allowance growth</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousSelfCheckAllowanceReduction" type="earbase:IntMax12DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék csökkenés</xs:documentation>
                    <xs:documentation xml:lang="en">Previous selfcheck allowance reduction</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SelfCheckAttachmentType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Önellenőrzés melléklet típus</xs:documentation>
            <xs:documentation xml:lang="en">Self-check attachment type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="repeatedSelfCheck" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Ismételt önellenőrzés</xs:documentation>
                    <xs:documentation xml:lang="en">Repeated self-check</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="currentSelfCheck" type="CurrentSelfCheckType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Aktuális bevallás önellenőrzési adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Current declaration self-check data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousSelfCheckAllowanceModification" type="PreviousSelfCheckAllowanceModificationType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Korábbi önellenőrzési pótlék módosítás</xs:documentation>
                    <xs:documentation xml:lang="en">Previous self-check allowance modification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartnerDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Termékbeszerző, szolgáltatást igénybevevő adata típus</xs:documentation>
            <xs:documentation xml:lang="en">Partner data type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="partnerName" type="earbase:AtomicStringType80">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Termékbeszerző, szolgáltatást igénybevevő neve</xs:documentation>
                    <xs:documentation xml:lang="en">Partner name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partnerTaxNumber" type="earbase:AtomicStringType50">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Termékbeszerző, szolgáltatást igénybevevő adószáma
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Partner taxnumber</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxpayerDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Az adóalap-csökkentést elszámoló adózó adata típus</xs:documentation>
            <xs:documentation xml:lang="en">Taxpayer data type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxpayerName" type="earbase:AtomicStringType80">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az adóalap-csökkentést elszámoló adózó neve</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpayer name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxpayerTaxNumber" type="common:TaxpayerIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az adóalap-csökkentést elszámoló adózó adószáma</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpayer taxnumber</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BadDebtItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Behajthatatlan követelés elem típus</xs:documentation>
            <xs:documentation xml:lang="en">Bad debt item type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="statementType" type="earbase:StatementTypeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Nyilatkozat típus</xs:documentation>
                    <xs:documentation xml:lang="en">Statement type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="settlementReason" type="earbase:SettlementReasonType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Elszámolás oka</xs:documentation>
                    <xs:documentation xml:lang="en">Settlement reason</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="conditionFulfillment" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Feltétel teljesülése</xs:documentation>
                    <xs:documentation xml:lang="en">Condition fulfillment</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceNumber" type="earbase:AtomicStringType25">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Számla sorszáma</xs:documentation>
                    <xs:documentation xml:lang="en">Invoice number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceDeliveryDate" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Teljesítés időpontja</xs:documentation>
                    <xs:documentation xml:lang="en">Invoice delivery date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partnerData" type="PartnerDataType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Termékbeszerző, szolgáltatást igénybevevő adata</xs:documentation>
                    <xs:documentation xml:lang="en">Partner data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="settlementAmount" type="earbase:IntMax25DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Elszámolás összege</xs:documentation>
                    <xs:documentation xml:lang="en">Settlement amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxpayerData" type="TaxpayerDataType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az adóalap-csökkentést elszámoló adózó adata</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpayer data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BadDebtType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Behajthatatlan követelés típus</xs:documentation>
            <xs:documentation xml:lang="en">Bad debt type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="badDebtItem" type="BadDebtItemType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Behajthatatlan követelés elem</xs:documentation>
                    <xs:documentation xml:lang="en">Bad debt item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChassisNumberOfTheCarType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Személygépkocsi alvázszám típus</xs:documentation>
            <xs:documentation xml:lang="en">Chassis number of the car type</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:sequence>
                <xs:element name="chassisNumberList" type="ChassisNumberListType">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Személygépkocsi alvázszám lista</xs:documentation>
                        <xs:documentation xml:lang="en">Chassis number of the car list</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="dataAsIndirectCustomsRepresentativeList" type="DataAsIndirectCustomsRepresentativeListType" minOccurs='0'>
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Közvetett vámjogi képviselőként teljesített adatszolgáltatás lista</xs:documentation>
                        <xs:documentation xml:lang="en">Data provision performed as an indirect customs representative list</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:element name="dataAsIndirectCustomsRepresentativeList" type="DataAsIndirectCustomsRepresentativeListType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közvetett vámjogi képviselőként teljesített adatszolgáltatás lista</xs:documentation>
                    <xs:documentation xml:lang="en">Data provision performed as an indirect customs representative list</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DataAsIndirectCustomsRepresentativeListType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Közvetett vámjogi képviselőként teljesített adatszolgáltatás lista típus</xs:documentation>
            <xs:documentation xml:lang="en">Data provision performed as an indirect customs representative list type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dataAsIndirectCustomsRepresentative" type="earbase:AtomicStringType20" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közvetett vámjogi képviselőként teljesített adatszolgáltatás</xs:documentation>
                    <xs:documentation xml:lang="en">Data provision performed as an indirect customs representative</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChassisNumberListType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Személygépkocsi alvázszám lista típus</xs:documentation>
            <xs:documentation xml:lang="en">Chassis number of the car list type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="chassisNumber" type="earbase:AtomicStringType20" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Alvázszám</xs:documentation>
                    <xs:documentation xml:lang="en">Chassis number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NewMeansOfTransportType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Új közlekedési eszköz típus</xs:documentation>
            <xs:documentation xml:lang="en">New means of transport type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="newMeansOfTransportItem" type="NewMeansOfTransportItemType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Új közlekedési eszköz elem</xs:documentation>
                    <xs:documentation xml:lang="en">New means of transport item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForTransferAndRefundType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Átvezetési és kiutalási kérelem típus</xs:documentation>
            <xs:documentation xml:lang="en">Request for transfer and refund type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestForTransferAndRefundItem" type="RequestForTransferAndRefundItemType"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Átvezetési és kiutalási kérelem elem</xs:documentation>
                    <xs:documentation xml:lang="en">Request for transfer and refund item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ToBeChargedType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Terhelendő típus</xs:documentation>
            <xs:documentation xml:lang="en">To be charged type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxTypeDeclarationRowNumber" type="earbase:TaxTypeDeclarationRowNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adónem főbizonylati sorszáma</xs:documentation>
                    <xs:documentation xml:lang="en">Tax type main document number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargedTaxType" type="earbase:ChargedTaxTypeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Terhelendő adónemkód</xs:documentation>
                    <xs:documentation xml:lang="en">Charged tax type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargedAmount" type="earbase:IntMax15DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Terhelendő összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Charged amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ToBeCreditedType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Jóváírandó</xs:documentation>
            <xs:documentation xml:lang="en">To be credited</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="creditedTaxType" type="earbase:AtomicStringType3">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Jóváírandó adónemkód</xs:documentation>
                    <xs:documentation xml:lang="en">Credited tax type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="resolutionNumber" type="earbase:AtomicStringType14" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Határozatszám</xs:documentation>
                    <xs:documentation xml:lang="en">Resolution number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="creditedAmount" type="earbase:IntMax15DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Jóváírandó összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Credited amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ToBeTransferedType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Kiutalandó</xs:documentation>
            <xs:documentation xml:lang="en">To be transfered</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="allocatedAmount" type="earbase:IntMax15DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Kiutalandó összeg</xs:documentation>
                    <xs:documentation xml:lang="en">Allopcated Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForTransferAndRefundItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Átvezetési és kiutalási kérelem elem típus</xs:documentation>
            <xs:documentation xml:lang="en">Request for transfer and refund item type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="toBeCharged" type="ToBeChargedType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Terhelendő</xs:documentation>
                    <xs:documentation xml:lang="en">To be charged</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="toBeCredited" type="ToBeCreditedType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Jóváírandó</xs:documentation>
                    <xs:documentation xml:lang="en">To be credited</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="toBeTransfered" type="ToBeTransferedType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Kiutalandó</xs:documentation>
                    <xs:documentation xml:lang="en">To be transfered</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerAddressType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Vevő címe típus</xs:documentation>
            <xs:documentation xml:lang="en">Customer address type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="customerCountryCode" type="earbase:CustomerCountryCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő országkód</xs:documentation>
                    <xs:documentation xml:lang="en">Customer country code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customerPostalCode" type="earbase:IntMax9DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő irányítószám</xs:documentation>
                    <xs:documentation xml:lang="en">Customer postal code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customerOtherAddressDetail" type="earbase:AtomicStringType75">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő további cím adata</xs:documentation>
                    <xs:documentation xml:lang="en">Customer other address detail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeansOfTransportDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Közlekedési eszköz adat típus</xs:documentation>
            <xs:documentation xml:lang="en">Means of transport data type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="typeOfMeansOfTransport" type="earbase:TypeOfMeansOfTransportType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közlekedési eszköz fajtája</xs:documentation>
                    <xs:documentation xml:lang="en">Type of means of transport</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="brand" type="earbase:AtomicStringType20">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Gyártmány/típus</xs:documentation>
                    <xs:documentation xml:lang="en">Brand</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="chassisOrSerialNumber" type="earbase:AtomicStringType20">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Alvázsszám vagy gyártási szám</xs:documentation>
                        <xs:documentation xml:lang="en">Chassis or serial number</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="engineNumber" type="earbase:AtomicStringType20">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Motorszám</xs:documentation>
                        <xs:documentation xml:lang="en">Engine number</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="enginePower" type="xs:integer">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hengerűrtartalom vagy főgép teljesítménye</xs:documentation>
                    <xs:documentation xml:lang="en">Engine power</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="enginePowerUnit" type="earbase:EnginePowerUnitType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hengerűrtartalom vagy főgép teljesítménye mértékegysége
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Engine power unit</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="mileage" type="earbase:IntMax20DigitsType">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Futott kilométerek száma</xs:documentation>
                        <xs:documentation xml:lang="en">Mileage</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="sailedOrOperationHours" type="earbase:IntMax20DigitsType">
                    <xs:annotation>
                        <xs:documentation xml:lang="hu">Hajózott vagy repült órák száma</xs:documentation>
                        <xs:documentation xml:lang="en">Sailed or operation hours</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="newMeansOfTransportNetAmount" type="earbase:IntMax12DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Új közlekedési eszköz áfa nélkül számított ellenértéke
                    </xs:documentation>
                    <xs:documentation xml:lang="en">New means of transport net amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceIssueDate" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Számlakiállítás időpontja</xs:documentation>
                    <xs:documentation xml:lang="en">Invoice issue date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="firstEntryIntoService" type="earbase:TaxpointDateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Első forgalomba helyezés időpontja</xs:documentation>
                    <xs:documentation xml:lang="en">First entry into service</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Vevő adatai típus</xs:documentation>
            <xs:documentation xml:lang="en">Customer data type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="customerName" type="earbase:AtomicStringType75">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő neve</xs:documentation>
                    <xs:documentation xml:lang="en">Customer name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customerAddress" type="CustomerAddressType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő címe</xs:documentation>
                    <xs:documentation xml:lang="en">Customer address</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NewMeansOfTransportItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Új közlekedési eszköz elem típus</xs:documentation>
            <xs:documentation xml:lang="en">New means of transport item type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="customerData" type="CustomerDataType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Customer data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="meansOfTransportData" type="MeansOfTransportDataType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közlekedési eszköz adat</xs:documentation>
                    <xs:documentation xml:lang="en">Means of transport data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReverseChargeSupplyItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Fordított adózás értékesítés elem típus</xs:documentation>
            <xs:documentation xml:lang="en">Reverse charge supply item type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="buyerTaxNumber" type="earbase:DomesticPartnerTaxNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vevő adószáma</xs:documentation>
                    <xs:documentation xml:lang="en">Partner taxnumber</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxpointDate" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Teljesítés napja</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpoint date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customsTariffNumber" type="earbase:CustomsTariffNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vámtarifaszám</xs:documentation>
                    <xs:documentation xml:lang="en">Customs tariff number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="quantity" type="earbase:IntMax21DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Mennyiség</xs:documentation>
                    <xs:documentation xml:lang="en">Quantity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hybridSeed" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hibrid vetőmag</xs:documentation>
                    <xs:documentation xml:lang="en">Hybrid seed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unitOfMeasure" type="earbase:UnitOfMeasureType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Mértékegység</xs:documentation>
                    <xs:documentation xml:lang="en">Unit of measure</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reverseChargeSupplyTaxBase" type="earbase:IntMax15DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Fordított adózás keretében történt értékesítés adóalap
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Reverse charge supply tax base</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReverseChargeServiceItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Fordított adózás beszerzés elem típus</xs:documentation>
            <xs:documentation xml:lang="en">Reverse charge service item type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="supplierTaxNumber" type="earbase:DomesticPartnerTaxNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Eladó adószáma</xs:documentation>
                    <xs:documentation xml:lang="en">Supplier taxnumber</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxpointDate" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Teljesítés napja</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpoint date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customsTariffNumber" type="earbase:CustomsTariffNumberType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Vámtarifaszám</xs:documentation>
                    <xs:documentation xml:lang="en">Customs tariff number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="quantity" type="earbase:IntMax21DigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Mennyiség</xs:documentation>
                    <xs:documentation xml:lang="en">Quantity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hybridSeed" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hibrid vetőmag</xs:documentation>
                    <xs:documentation xml:lang="en">Hybrid seed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unitOfMeasure" type="earbase:UnitOfMeasureType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Mértékegység</xs:documentation>
                    <xs:documentation xml:lang="en">Unit of measure</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reverseChargeServiceTaxBase" type="earbase:IntMax15DigitsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Fordított adózás keretében történt beszerzés adóalap
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Reverse charge service tax base</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReverseChargeSupplyType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Fordított adózás értékesítés típus</xs:documentation>
            <xs:documentation xml:lang="en">Reverse charge supply type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="reverseChargeSupplyItem" type="ReverseChargeSupplyItemType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Fordított adózás értékesítés elem</xs:documentation>
                    <xs:documentation xml:lang="en">Reverse charge supply item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReverseChargeServiceType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Fordított adózás beszerzés típus</xs:documentation>
            <xs:documentation xml:lang="en">Reverse charge service type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="reverseChargeServiceItem" type="ReverseChargeServiceItemType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Fordított adózás beszerzés elem</xs:documentation>
                    <xs:documentation xml:lang="en">Reverse charge service item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SheetListType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Melléklapok</xs:documentation>
            <xs:documentation xml:lang="en">Sheets</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="animalDisease" type="AnimalDiseaseType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Állatbetegség - 02-es melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">Animal disease - sheet 02</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="selfCheckAttachment" type="SelfCheckAttachmentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Önellenőrzés melléklet - 04-es melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">Self-check attachment - shett 04</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="badDebt" type="BadDebtType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Behajthatatlan követelés - 06-os melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">Bad debt - sheet 06</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chassisNumberOfTheCar" type="ChassisNumberOfTheCarType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Személygépkocsi alvázszám - 09-es melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">Chassis number of the car - sheet 09</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="newMeansOfTransport" type="NewMeansOfTransportType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Új közlekedési eszköz - A88-as melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">New means of transport - sheet A88</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="requestForTransferAndRefund" type="RequestForTransferAndRefundType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Átvezetési és kiutalási kérelem - 170-es melléklap
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Request for transfer and refund - sheet 170</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reverseChargeSupply" type="ReverseChargeSupplyType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Fordított adózás értékesítés - 07-es melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">Reverse charge supply - sheet 07</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reverseChargeService" type="ReverseChargeServiceType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Fordított adózás beszerzés - 08-as melléklap</xs:documentation>
                    <xs:documentation xml:lang="en">Reverse charge service - sheet 08</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SummaryType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">A bevallás összegző adatainak alap típusa</xs:documentation>
            <xs:documentation xml:lang="en">Summary data base type of the declaration</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sumResidualTax" type="earbase:TaxMonetaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Előző időszakról beszámítható csökkentő tétel összege
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Amount of deduction from previous period</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sumAccountedTax" type="earbase:TaxMonetaryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Tárgyidőszakban megállapított fizetendő adó együttes összegének és a
                        levonható előzetesen
                        felszámított adónak a különbözete
                    </xs:documentation>
                    <xs:documentation xml:lang="en">The difference between the total amount of payable tax stated in the
                        relevant period and the
                        prepaid deductible tax
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sumPayableTax" type="earbase:TaxMonetaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Befizetendő adó összege</xs:documentation>
                    <xs:documentation xml:lang="en">Amount of payable tax</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sumDeductibleTax" type="earbase:TaxMonetaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Visszaigényelhető adó összege</xs:documentation>
                    <xs:documentation xml:lang="en">Amount of deductible tax</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sumTransferableTax" type="earbase:TaxMonetaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Következő időszakra átvihető követelés összege</xs:documentation>
                    <xs:documentation xml:lang="en">Amount of receivables that can be carried over to the next period
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxInformationType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Adózási adatok</xs:documentation>
            <xs:documentation xml:lang="en">Taxation data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="standardTaxCode" type="common:SimpleText50NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A tétel standard adókódja</xs:documentation>
                    <xs:documentation xml:lang="en">Standard tax code of the item</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ownTaxCode" type="common:SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A tétel vállalati adókódja</xs:documentation>
                    <xs:documentation xml:lang="en">Corporate tax code of the item</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="indirectCustomsRepresentative" type="IndirectCustomsRepresentativeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közvetett vámjogi képviselő jelölő</xs:documentation>
                    <xs:documentation xml:lang="en">Indirect customs representative marker</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxPosition" type="TaxPositionType" maxOccurs="2">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A tétel adózási pozíciója</xs:documentation>
                    <xs:documentation xml:lang="en">Tax position of the item</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndirectCustomsRepresentativeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Közvetett vámjogi képviselő jelölő típus</xs:documentation>
            <xs:documentation xml:lang="en">Indirect customs representative marker type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="importerTaxNumber" type="common:TaxpayerIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Importőr adószám</xs:documentation>
                    <xs:documentation xml:lang="en">Importer taxnumber</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxPositionType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">A tétel adózási pozíciója</xs:documentation>
            <xs:documentation xml:lang="en">Tax position of the item</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="positionType" type="earbase:PositionTypeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adózási pozíció</xs:documentation>
                    <xs:documentation xml:lang="en">Tax position</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxBase" type="earbase:TaxMonetaryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adó alapja</xs:documentation>
                    <xs:documentation xml:lang="en">Tax base</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxAmount" type="earbase:TaxMonetaryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adó összege</xs:documentation>
                    <xs:documentation xml:lang="en">Tax amount</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deductionOptions" type="DeductionOptionsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Levonási adatok</xs:documentation>
                    <xs:documentation xml:lang="en">Deduction data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VatAnalyticsItemType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Analitika tételsor adatai</xs:documentation>
            <xs:documentation xml:lang="en">Analytics item data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lineNumber" type="common:GenericUnsignedIntegerType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Analitika sorszáma</xs:documentation>
                    <xs:documentation xml:lang="en">Sequential number of the analytics</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="generalLedgerInformation" type="GeneralLedgerInformationType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Főkönyvi adatok</xs:documentation>
                    <xs:documentation xml:lang="en">General ledger data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sourceDocumentId" type="common:SimpleText50NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Forrás dokumentum egyedi azonosítója</xs:documentation>
                    <xs:documentation xml:lang="en">Source document unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sourceDocumentIssueDate" type="earbase:DeclarationBaseDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Forrás dokumentum kiállítási dátuma</xs:documentation>
                    <xs:documentation xml:lang="en">Source document issue date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sourceDocumentType" type="earbase:SourceDocumentTypeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Forrás dokumentum bizonylat típusa</xs:documentation>
                    <xs:documentation xml:lang="en">Type of the source document</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxpointDate" type="earbase:TaxpointDateType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adó esedékességi napja</xs:documentation>
                    <xs:documentation xml:lang="en">Taxpoint date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceModificationOrCancellation" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Számla módosítás vagy sztornó jellegű jelölő</xs:documentation>
                    <xs:documentation xml:lang="en">Invoice modification or cancellation marker</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partnerInfo" type="PartnerInfoType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Partner adatok</xs:documentation>
                    <xs:documentation xml:lang="en">Partner data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxInformation" type="TaxInformationType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Adózási adatok</xs:documentation>
                    <xs:documentation xml:lang="en">Taxation data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VatAnalyticsType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">ÁFA analitika</xs:documentation>
            <xs:documentation xml:lang="en">VAT analytics</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="totalRowCount">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az analitika sorainak száma</xs:documentation>
                    <xs:documentation xml:lang="en">Number of rows in the analytics</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="agriculturalCompensationPremium" type="AgriculturalCompensationPremiumType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Mezőgazdasági kompenzációs felár</xs:documentation>
                    <xs:documentation xml:lang="en">Agricultural compensation premium</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatAnalyticsItem" type="VatAnalyticsItemType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Analitika tételsor adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Analytics item data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VatDeclarationDataType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Az ÁFA bevallás adatai</xs:documentation>
            <xs:documentation xml:lang="en">VAT declaration data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="declarationInfo" type="earbase:DeclarationInfoType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A bevallás fejadatai</xs:documentation>
                    <xs:documentation xml:lang="en">Header data of the declaration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="declarationStatements" type="DeclarationStatementsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Bevallási nyilatkozatok</xs:documentation>
                    <xs:documentation xml:lang="en">Declaration statements</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatAnalytics" type="VatAnalyticsType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">ÁFA analitika</xs:documentation>
                    <xs:documentation xml:lang="en">VAT analytics</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="originalDeclarationSummary" type="SummaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az eredeti bevallás összegző adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Summary data of the original declaration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="declarationSummary" type="DeclarationSummaryType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A bevallás összegző adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Summary data of the declaration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sheetList" type="SheetListType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Melléklapok</xs:documentation>
                    <xs:documentation xml:lang="en">Sheets</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Csatolmányok</xs:documentation>
                    <xs:documentation xml:lang="en">Attachments</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="VatDeclarationData">
        <xs:annotation>
            <xs:documentation xml:lang="hu">XML root element, az ÁFA bevallás adatait leíró típus</xs:documentation>
            <xs:documentation xml:lang="en">XML root element containing VAT declaration data</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="VatDeclarationDataType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>